.section-wrapper {
    width:100%;
    display: flex;
    flex-wrap: nowrap;
}

.pictures-wrapper {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.description-wrapper {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
    background-color: #d1ccbc65;
    border: 3px dotted #fff;
    flex-direction: column;
}

.lightbox-img {
    margin-top: 10px;
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    width:450px;
    height: 300px;
}

 .lightbox-img:hover {
    cursor: pointer;
 }
 
.gallery-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fbbc05;
    background-color: #f1f1f1;
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 10px;
}

.gallery-btn:hover {
    cursor: pointer;
    color: white;
    background-color: #fbbc05;
    transition: all 0.7s;
}