@media only screen and (min-width: 450px) {
    .accordion-element-wrapper {
        width: 98%;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 768px) {
    .accordion-element-wrapper {
        width: 80%;
        margin-bottom: 10px;
    }
}
