.form-wrapper {
    width: 80%;
    background-color: #f1f1f1;
    margin-top: 100px;
    margin-left: 10%;
    padding: 20px;
}

.input-wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

label {
    display: block;
}

.submit {
    width: 200px;
    height: 50px;
    margin-top: 30px;
    border: 1px solid #fbbc05;
    background-color: #fbbc05;
}

.submit:hover {
    cursor: pointer;
    border: 1px solid white;
    background-color: #fa9746;
    transition: all 0.7s;
    border-radius: 5px;
}

.input-error {
    color: tomato;
    margin: 0;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
}