@media only screen and (min-width: 450px) {
    .section-header-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 140px auto 200px auto;
        justify-content: center;
    }
}

@media only screen and (min-width: 768px) {
    .section-header-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 140px auto 100px auto;
        justify-content: center;
    }
}

@media only screen and (min-width: 450px) {
    .objects-wrapper {
        width: 90%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 5%;
    }
}

@media only screen and (min-width: 768px) {
    .objects-wrapper {
        width: 70%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 15%;
    }
}

h2 {
    font-weight: 400;
}

@media only screen and (min-width: 450px) {
    .cards-wrapper {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 180px;
    }
}

@media only screen and (min-width: 768px) {
    .cards-wrapper {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }
}

