.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    background-color: bisque;
    color: black;
    margin-left: 17.5%;
    background-color: #f1f1f1;
    margin-bottom: 50px;
}

.logo-wrapper {
    margin: 20px 0 10px 0;
}

.logo-wrapper img {
    width: 100px;
    height: 100px;
}

h2 {
    margin: 10px;
}